@model IEnumerable<LyricData.Models.SongLyric>

@{
    ViewData["Title"] = "Data";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">






<title>Page Title</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="~/css/main.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="./css/main.css">

<div class="container">
    <div id="cover">
        <form method="get" action="Search">
            <div class="tb">
                <div class="td"><input type="text" placeholder="Search" name="word" required></div>
                <div class="td" id="s-cover">
                    <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>









@foreach (var item in Model)
{
    <div class="container">
        <div class="header clearfix detailHeading">

        </div>

        <div class="jumbotron">
            <div class="row">

                <div class="col-md-4">
                    <div>
                        <img class="Detail" src="~/Image/photo.jpg" style="height:300px;width:300px;" />
                        @*<img class="detailImage" src="@item.Image" />*@
                    </div>
                </div>
                <div class="col-md-4">
                    <p id="itemTitle"><h2>@item.Title</h2></p>
                    <p id="itemAuthor"><h4>@item.Artist</h4></p>
                    <p id="itemStatus"><h6><span><i class="fa ">Year:</i>@item.Year</span></h6><h6><i class="fa fa-eye">@item.Views</i></h6></p>
                    <br />
                    <br />
                    <div>
                        <b>Lyrics</b>
                        <br />
                        @if (item.Lyrics.Length > 150)
                        {
                            @item.Lyrics.Substring(0, 150)
                        }
                        else
                            @item.Lyrics
                    </div>
                    <p><a asp-action="Details" asp-route-id="@item.Id">Details..</a>|<a asp-action="Delete" asp-route-id="@item.Id">Delete</a></p>
                </div>
            </div>
        </div>
    </div>
}

