@model IEnumerable<LyricData.Models.SongLyric>

@{
    ViewData["Title"] = "Data";
}

<h1>Data</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/styles.css" rel="stylesheet" />





<div class="overlay-content">
    <form asp-controller="SongLyrics" asp-action="Search" method="get" style="height:600px;">
        <input type="text" placeholder="Search.." name="word" style="width:500px;height:38px;">
        <button type="submit" style="height:38px;"><i class="fa fa-search"></i></button>

    </form>
</div>


<h2 class="text-muted">Lyrics Library Item</h2>
@foreach (var item in Model)
{
    <div class="container">
        <div class="header clearfix detailHeading">

        </div>

        <div class="jumbotron">
            <div class="row">

                <div class="col-md-4">
                    <div>
                        <img class="Detail" src="~/Image/photo.jpg" style="height:300px;width:300px;" />
                        @*<img class="detailImage" src="@item.Image" />*@
                    </div>
                </div>
                <div class="col-md-4">
                    <p id="itemTitle"><h2>@item.Title</h2></p>
                    <p id="itemAuthor"><h4>@item.Artist</h4></p>
                    <p id="itemStatus"><h6><span><i class="fa ">Year:</i>@item.Year</span></h6><h6><i class="fa fa-eye">@item.Views</i></h6></p>
                    <br />
                    <br />
                    <div>
                        <b>Lyrics</b>
                        <br />
                        @if (item.Lyrics.Length > 150)
                        {
                            @item.Lyrics.Substring(0, 150)
                        }
                        else
                            @item.Lyrics
                    </div>
                    <p><a asp-action="Details" asp-route-id="@item.Id">Details..</a>|<a asp-action="Delete" asp-route-id="@item.Id">Delete</a></p> 
                </div>
            </div>
        </div>
    </div>
}

