@model LyricData.Models.SongLyric

@{
    ViewData["Title"] = "";
}

<h2 class="text-muted"> Library</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="jumbotron">
        <div class="row">

            <div class="col-md-4">
                <div>
                    <img class="Detail" src="~/Image/photo.jpg" style="height:300px;width:300px;" />
                    @*<img class="detailImage" src="@item.Image" />*@
                </div>
            </div>
            <div class="col-md-4">
                <p id="itemTitle"><h2>@Model.Title</h2></p>
                <p id="itemAuthor"><h4>@Model.Artist</h4></p>
                <p id="itemStatus"><h6><span><i class="fa ">Year:</i>@Model.Year</span></h6><h6><i class="fa fa-eye">@Model.Views</i></h6></p>
               
                <br />
                <br />
                <div>
                    <b>Lyrics</b>
                    <br />
                    <p id="itemType">@Model.Lyrics</p>
                        
                </div>
            </div>
        </div>
    </div>
</div>


