@*@model IEnumerable<LyricData.Models.SongLyric>*@
@model PaginatedList<LyricData.Models.SongLyric>

@{
    ViewData["Title"] = "Search";
}

<h5> Total Data:@ViewBag.searched</h5>
<h5> Total Match:@ViewBag.found</h5>
<h5> ExecutionTime:@ViewBag.time</h5>

<form asp-controller="SongLyrics" asp-action="Search" method="get">
    <p>
        <input type="text" name="word">
        <input type="submit" value="search" />
    </p>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Lyrics)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    <img src="https://images.search.yahoo.com/search/images;_ylt=AwrJ4NbetTleHvsA.2.JzbkF;_ylu=X3oDMTBsZ29xY3ZzBHNlYwNzZWFyY2gEc2xrA2J1dHRvbg--;_ylc=X1MDOTYwNjI4NTcEX3IDMgRhY3RuA2NsawRjc3JjcHZpZANFbzF0MmpFd0xqSmsyNFdSWFhwdFhBTDJNamN1TXdBQUFBQVhYYnhXBGZyAwRmcjIDc2EtZ3AEZ3ByaWQDT3dzUkFTV0JRUEc3Z3NkcFM5Z3RjQQRuX3N1Z2cDMARvcmlnaW4DaW1hZ2VzLnNlYXJjaC55YWhvby5jb20EcG9zAzAEcHFzdHIDBHBxc3RybAMEcXN0cmwDMzAEcXVlcnkDYWxsJTIwc29uZyUyMGFydGlzdCUyMGluJTIwb25lBHRfc3RtcAMxNTgwODQwNDMy?p=all+song+artist+in+one&fr=&fr2=sb-top-images.search&ei=UTF-8&n=60&x=wrt#id=18&iurl=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2Fe3%2F77%2F1b%2Fe3771b6bdd977d7e85745e7940b9a7a2.jpg&action=click" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lyrics)
                </td>
                <td>

                    <a asp-action="Detail" asp-route-id="@item.Id">Details</a> 

                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Search"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="abc+ @(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Search"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
