@*@model IEnumerable<LyricData.Models.SongLyric>*@
@using LyricData.Extensions;

@model PaginatedList<LyricData.Models.SongLyric>

@{
    ViewData["Title"] = "Search";
}

@*<h5> Total Data:@ViewBag.searched</h5>*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link href="~/css/styles.css" rel="stylesheet" />*@





@*<div class="overlay-content">
    <form asp-controller="SongLyrics" asp-action="Search" method="get" style="height:600px;">
        <input type="text" placeholder="Search.." name="word" style="width:500px;height:38px;">
        <button type="submit" style="height:38px;"><i class="fa fa-search"></i></button>

    </form>
    </div>*@

    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./css/main.css">

    <div class="container">
        <div id="cover">
            <form method="get" action="Search" >
                <div class="tb">
                    <div class="td"><input type="text" placeholder="Search" name="word" required></div>
                    <div class="td" id="s-cover">
                        <button type="submit">
                            <div id="s-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

 






<div class="container">
    <br />
    <br />
    <div class="space" style="height:20%;margin-right:30px;margin: 44px auto;
    text-align: center;">
        <p><h4>Welcome To Lyrics Gallery</h4> </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <h6> ExecutionTime:@ViewBag.time</h6>
            </div>
        </div>
        <div class="col-md-4">
            <h6> Total Match:@ViewBag.found</h6>
        </div>
        <div class="col-md-4">
            <h6> Total Data:@ViewBag.total</h6>
        </div>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="container">



        <div class="jumbotron">
            <div class="row">

                <div class="col-md-4">
                    <div>

                        @if (item.Image == null)
                        {
                            <img class="Detail" src="~/Image/photo.jpg" style="height:300px;width:300px;" />
                        }
                        else
                        {
                       <img class="Detail" src="@item.Image" style="height:300px;width:300px;" />
                        }
                        
                        @*<img class="detailImage" src="@item.Image" />*@
                    </div>
                </div>
                <div class="col-md-4">
                    <p id="itemTitle"><h2>@item.Title</h2></p>
                    <p id="itemAuthor"><h4>@item.Artist</h4></p>
                    <p id="itemStatus"><h6><span><i class="fa ">Year:</i>@item.Year</span></h6><h6><i class="fa fa-eye">@item.Views</i></h6></p>
                    <br />
                    <br />
                    <div>
                        <b>Lyrics</b>
                        <br />
                        @if (item.Lyrics.Length > 150)
                        {
                            @item.Lyrics.Substring(0, 150)
                        }
                        else
                            @item.Lyrics
                    </div>
                    <a asp-action="Detail" asp-route-id="@item.Id">Details..</a>
                </div>
            </div>
        </div>
    </div>
}





@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";

    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

}

<a asp-action="Search"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="abc+ @(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">

    Previous

</a>

<a asp-action="Search"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">

    Next

</a>

